# 삼항연산자
- a if 조건식 else b

In [1]:
score = 50

"합격" if score >= 60 else '불합격'

'불합격'

In [2]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >> "))
print(f"a : {a}") if a > b else print(f"b : {b}")

정수입력 >> 1
정수입력 >> 1
b : 1

In [3]:
num1 = int(input("첫번째 정수 입력 >> "))
num2 = int(input("두번째 정수 입력 >> "))
print(f"두 수의 차 : {num1-num2}") if num1>num2 else print(f"두 수의 차 : {num2-num1}")
print("두 수의 차 : %d"%(num1-num2)) if num1>num2 else print("두 수의 차 : %d"%(num2-num1))
print("두 수의 차 : {}".format(num1-num2)) if num1>num2 else print("두 수의 차 : {}".format(num2-num1))

첫번째 정수 입력 >> 1
두번째 정수 입력 >> 1
두 수의 차 : 0
두 수의 차 : 0
두 수의 차 : 0

In [4]:
num = int(input("정수 입력 >> "))
print(f"{num}은 홀수입니다.") if num%2==1 else print(f"{num}은 짝수입니다.")

정수 입력 >> 1
1은 홀수입니다.

In [5]:
a = b = int(input("정수 입력 >> "))
print(a,b)

정수 입력 >> 1
1 1

In [6]:
a, b = int(input("A 정수")), int(input("B 정수"))
print(a+b)

A 정수1
B 정수1
2

# 조건문
- if 
- elif
- else

## if

In [7]:
if False:
    print("실행문장실행")
print("if문 밖에있는 문장 실행")

if문 밖에있는 문장 실행

In [8]:
money = int(input("남은 돈 >> "))
if money>=10000:
    print("택시를 탄다.")

남은 돈 >> 1

## else

In [9]:
if False:
    print('실행문장1')
else:
    print('실행문장2')

실행문장2

In [10]:
money = int(input("남은 돈 >> "))
if money>=10000:
    print("택시를 탄다")
else:
    print("버스를 탄다")

남은 돈 >> 1
버스를 탄다

In [11]:
num = int(input("정수 입력 >> "))
if num%3 == 0 and num % 5 == 0:
    print("3과 5의 배수입니다.")
else:
    print("3과 5의 배수가 아닙니다.")

정수 입력 >> 1
3과 5의 배수가 아닙니다.

In [12]:
num1 = int(input("첫번째 정수 입력 >> "))
num2 = int(input("두번째 정수 입력 >> "))
if num1>num2:
    print("첫번째 정수가 더 큽니다.")
elif num1<num2:
    print("두번째 정수가 더 큽니다.")
else:
    print("두 수가 똑같습니다.")

첫번째 정수 입력 >> 1
두번째 정수 입력 >> 1
두 수가 똑같습니다.

In [13]:
score = int(input("점수 입력 >> "))
if score>=90:
    print(f"{score}점은 A학점입니다.")
elif score>=80:
    print(f"{score}점은 B학점입니다.")
elif score>=70:
    print(f"{score}점은 C학점입니다.")
elif score>=60:
    print(f"{score}점은 D학점입니다.")
else:
    print(f"{score}점은 F학점입니다.")

점수 입력 >> 1
1점은 F학점입니다.

In [20]:
print('''
================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   600  ==    800   ==  1000  ======= O00원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===
''')

money = int(input("insert coin >> "))
menu = int(input("메뉴 선택 >> "))
beverage = 0
if menu==1:
    beverage = 600
elif menu==2:
    beverage = 800
elif menu==3:
    beverage = 1000

cash = money-beverage
if cash < 0:
    print("잔액이 부족합니다.")
else:
    result = f"잔돈 \n1000원 : {cash//1000}개 \n500원 : {cash%1000//500}개 \n100원 : {cash%500//100}개"
    print(result)

================================================
================---- 자판기 ----================
================================================
== 1.콜라 == 2.사이다 ==  3.물  =======insert===
==--------==----------==--------=======------===
==   600  ==    800   ==  1000  ======= O00원===
=======================================------===
================================================
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==+++++++++++++++     SMHRD    +++++++++++++++==
==+++++++++++++++              +++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
==++++++++++++++++++++++++++++++++++++++++++++==
================================================
================================================
  ===                                      ===
  ===                                      ===

insert coin >> 1000
메뉴 선택 >> 1
잔돈
1000원 : 0개
500원 : 0개
100원 : 4개

# 리스트
- 파이썬의 자료구조 형태중 하나
- 순서가 있는 수정가능 한 객체의 집합
- 대괄호 [ ]로 작성되어지며, 리스트 내부의 값은 콤마 ( , )로 구분
- 추가, 수정, 삭제 가능

In [27]:
a = []
b = [1,2,3]
c = ['my','name']
d = [1,2,'my','name']
e = [1,2,['my','name']]
print(e)

[1, 2, ['my', 'name']]

In [31]:
list1 = [2,5,7,9,10]
print(list1[0])
print(list1[2])
print(list1[2]+list1[-1])

2
7
17

In [32]:
list2 = [1,2,3, ['a','b','c']]
print(list2)

[1, 2, 3, ['a', 'b', 'c']]

In [36]:
temp = list2[3]
print(temp)

['a', 'b', 'c']

In [39]:
print(temp[1])
print(list2[3][1])

b
b

In [49]:
list3 = [0,1,2,3,4]
print(list3[1:3])
print(list3[:2])
print(list3[3:])

[1, 2]
[0, 1]
[3, 4]

In [51]:
list4 = [1,2,3]
list5 = [3,4,5,6]
print(list4+list5)
print(list4[0]+list5[3])

[1, 2, 3, 3, 4, 5, 6]
7

## 값 추가 append 사용

In [52]:
list6 = [0,1,2,3,4]
list6.append(5)
list6

[0, 1, 2, 3, 4, 5]

In [53]:
listfruit = ['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']

In [56]:
choice_list = []

In [58]:
choice_list.append(listfruit[0])
print(choice_list)

['사과']

In [59]:
choice_list.append(listfruit[-1])
print(choice_list)

['사과', '오렌지']

In [60]:
choice_list.append(listfruit[2][0])
print(choice_list)

['사과', '오렌지', '수박']

## 값 추가 insert사용

In [62]:
list5 = [0,1,2,3,4]
list5.insert(1,5)
print(list5)

[0, 5, 1, 2, 3, 4]

In [63]:
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 6, 4]

In [67]:
music_list = []
music_list = [['Butter','방탄'],['헤픈 우연','헤이즈'],['라일락','아이유']]

index = int(input("인덱스 위치 입력 >> "))
song = input("노래제목 입력 >> ")
singer = input("가수 입력 >> ")

music_list.insert(index, [song, singer])
print(music_list)

인덱스 위치 입력 >> 2
노래제목 입력 >> 롤린
가수 입력 >> 브레이브걸스
[['Butter', '방탄'], ['헤픈 우연', '헤이즈'], ['롤린', '브레이브걸스'], ['라일락', '아이유']]

## 값 수정

In [2]:
list6 = [0,1,2,3,4,5]
list6

[0, 1, 2, 3, 4, 5]

In [3]:
print('수정 전 :',list6[1])
list6[1] = 7
print('수정 후 :',list6[1])

수정 전 : 1
수정 후 : 7

In [4]:
list6

[0, 7, 2, 3, 4, 5]

In [6]:
list6[3:5] = [7]
print(list6)

[0, 7, 2, 7, 5]

In [26]:
array=[]
array=[1,2,3,4,5]

In [27]:
array[4] = 7
print(array)

[1, 2, 3, 4, 7]

In [28]:
array[1] = ['a','b','c']
print(array)

[1, ['a', 'b', 'c'], 3, 4, 7]

In [33]:
array[3:] = ['d','e','f','g']
print(array)

[('h', 'i', 'j'), ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [35]:
array[:1] = ['h','i','j']
print(array)

['h', 'i', 'j', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

## 값 삭제
- del 키워드

In [36]:
list7 =[0,1,2,3,4,5]
del list7[1]
print(list7)

[0, 2, 3, 4, 5]

In [37]:
#슬라이싱으로 지우기
del list7[1:4]
print(list7)

[0, 5]

In [40]:
#remove(값) 함수 이용해서 값 삭제
list7 = ['a','b','c','d','e']
list7.remove('b')
print(list7)

['a', 'c', 'd', 'e']

In [41]:
#오름차순 정렬 sort()함수 사용
list8 = [9,77,13,51,100,3]
list8

[9, 77, 13, 51, 100, 3]

In [42]:
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [43]:
# reverse() - 리스트에 있는 값을 역순으로 뒤집음
list9 = [9,77,13,51,100,3]
list9

[9, 77, 13, 51, 100, 3]

In [44]:
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [46]:
#내림차순도 이렇게 응용됨
list9.sort(reverse=True)
list9

[100, 77, 51, 13, 9, 3]

In [51]:
#index() 찾고자하는 값의 위치를 반환
list11 = ['a','b','c','d','e','f','c','c']
list11.index('c')

2

In [52]:
#count() 찾고자하는 값은 몇번 들어있는지 반환
list11.count('c')

3

In [53]:
#pop() - 마지막 값을 반환 후 삭제
list11.pop()

'c'

In [54]:
list11

['a', 'b', 'c', 'd', 'e', 'f', 'c']

In [56]:
#len(리스트) - 리스트 값 개수 반환
list12 = [0,1,2]
len(list12)
len(list11)

7